@font-face {
  font-family: 'OpenSans-Regular';
  src: url("/fnt/OpenSans-Regular.ttf");
}

@font-face {
  font-family: 'OpenSans-Light';
  src: url("/fnt/OpenSans-Light.ttf");
}

@font-face {
  font-family: MyriadPro-Regular;
  src: url("/fnt/MyriadPro-Regular.otf");
}
