.navigation {

  nav.navbar {
    padding-left: 0;
    padding-right: 0;
  }

}

.navigation-index {
  position: fixed;
  background-color: rgba(10, 10, 10, 0.9);
  top: 0;
  z-index: 1000;

  nav {
    li.active {
      background-color: rgba(255, 255, 255, 0.1);
    }

    li:hover {
      background-color: rgba(255, 255, 255, 0.7);

      a {
        color: #000 !important;
      }
    }

    a {
      color: #fff !important;
    }

    li.dropdown {
      a.dropdown-item {
        color: #000 !important;
      }
    }
  }
}

.navigation-page {
  nav {
    li.active {
      background-color: rgba(0, 0, 0, 0.1);
    }

    li:hover {
      background-color: rgba(0, 0, 0, 0.7);

      a {
        color: #fff !important;
      }
    }

    a {
      color: #000 !important;
    }

    li.dropdown {
      a.dropdown-item {
        color: #000 !important;
      }
    }
  }
}
