.page {
  .header {
    background-image: url(/img/page/bg-banner.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 20vh;
    vertical-align: center;
    text-align: center;
    color: #fff;
    padding-top: calc(10vh - 1.2em);
    font-family: OpenSans-Light, Times, serif;

    h1 {
      font-size: 2.4em;
      text-transform: uppercase;
      background-color: rgba(0, 0, 0, 0.4);
      padding: 5px;
    }
  }

  .content {
    font-family: OpenSans-Regular, Times, serif;
    margin-top: 2em;
    margin-bottom: 2em;
  }
}

