{{title model.title prepend=false}}

{{#common/common-page}}

  <div class="page">
    <div class="header" style="{{model.imageStyle}}">
      <h1>{{model.title}}</h1>
    </div>

    {{#common/common-content}}
      <article class="row content">

        <div class="col-sm-8">
          {{#froala-content}}
            {{{model.description}}}
          {{/froala-content}}
        </div>

        <div class="col-sm-4"></div>

      </article>
    {{/common/common-content}}
  </div>

{{/common/common-page}}