<!-- FOOTER BEGIN -->
<footer class="container-fluid">

  <div class="row">
    <div class="col-sm-1"></div>

    <div class="col-sm-4">
      <img src="/img/footer/logo.png"
           alt="НПДЦ Логотип"
           width="114" height="25"
           class="logo">
      <p class="">
        НПДЦ — лидирующая компания в области технической диагностики,
        неразрушающего контроля и экспертизы промышленной безопасности в
        Украине.
      </p>
      <p>
        <a href="tel:+380564049053">+380 (56) 404-90-53</a><br/>
        <a href="mailto:info@nvdc.biz">info@nvdc.biz</a>
      </p>
    </div>

    <div class="col-sm-3">
      <h3 class="">Свежие новости</h3>
      <ul class="">
        <li><a href="#">Международный стандарт ISO/IEC 17020</a></li>
        <li><a href="#">Компания НПДЦ получила сертификат ISO</a></li>
        <li><a href="#">ВНИМАНИЕ! 25% скидки на проведение тепловизионного контроля</a></li>
      </ul>
    </div>

    <div class="col-sm-3 livarava">
      <a href="https://www.livarava.com/ru/portfolio/" target="_blank" alt="LivaRava">
        <img class="logo_livarava" src="/img/footer/logo_livarava.png">
      </a>
      <p>
        <a href="https://www.livarava.com/ru/portfolio/" target="_blank">
          Дизайн и разработка сайта
        </a>
        <br/>
        <a href="https://www.livarava.com/neuron/34308/overview" target="_blank">
          Информация о веб-сайте
        </a>
      </p>
    </div>

    <div class="col-sm-1"></div>

  </div>

  <div class="row meta">
    <div class="col-sm-12 text-center">
      © 1993-2017 НПДЦ. Все права защищены.
    </div>
  </div>
</footer>
<!-- FOOTER END -->