* {
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

body {
  width: 100%;
  margin: 0;
}

@font-face {
  font-family: 'Open Sans';
  src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: OpenSans-Light;
  src: url(../fonts/OpenSans-Light.ttf);
}

@font-face {
  font-family: MyriadPro-Regular;
  src: url(../fonts/MyriadPro-Regular.otf);
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

div.stash {
  height: 465px;
}

div.company-height {
  height: 510px;
}

/*Navigation*/
div.logo-container img {
  width: 75%;
}

/*Navbar*/
nav.navbar {
  background-color: rgba(255, 0, 0, 0.0);
  border-color: rgba(8, 8, 8, 0);
}

nav.navbar-inverse nav.navbar-collapse {
  padding: 0;
}

div.row img.header-background {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
}

nav.navbar-inverse div.navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}

div.navbar-collapse a.language-link {
  padding-top: 0;
  padding-bottom: 0;
  border-left: 1px solid #eeeeee;
  margin-top: 15px;
}

div.logo-container, div.navigation nav.navbar {
  margin-top: 30px;
}

nav.navbar .navbar-nav > li > a {
  color: #ffffff;
  font-family: 'Open Sans', Times, serif;
  font-size: 0.9em;
  /*margin-top: 10px;*/
  padding-left: 12px;
  padding-right: 12px;
}

div.navigation .navbar-inverse .navbar-collapse .navbar-nav a:hover {
  border-bottom: 2px solid #640379;
}

nav.navbar-inverse div.navbar-collapse .navbar-nav > li > .dropdown-menu {
  min-width: 110px;
}

div.navigation .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
  color: #fff;
  background-color: rgba(8, 8, 8, 0);
}

div.navigation .navbar-inverse .navbar-toggle {
  border-color: #fff;
}

nav.navbar-inverse div.navbar-collapse .navbar-nav > li > .dropdown-menu {
  min-width: 60px;
}

div.navigation .navbar-inverse .navbar-collapse .navbar-nav a:hover {
  border-bottom: 0 solid #640379;
}

div.height-col {
  height: 330px;
}

/*Slider*/
div.slider div.mySlides .mySlide-content {
  font-family: OpenSans-Light, Times, serif;
  color: #ffffff;
}

div.slider div.mySlides h1.mySlide-content {
  font-size: 2.5em;
  margin-top: 10px;
  margin-bottom: 0;
}

div.slider div.mySlides h4.mySlide-content {
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 1.5em;
}

div.slider div.mySlides p.mySlide-content {
  font-size: 1.1em;
}

img.more-arrow {
  position: absolute;
  left: 9%;
  width: 3%;
  cursor: pointer;
}

img.scroll {
  width: 1.8%;
  position: absolute;
}

.slider div.slide-left {
  margin-left: 10px;
  height: 45px;
  width: 45px;
  background: url("../img/slide-left.png") no-repeat 0 0;
  display: inline-block;
  cursor: pointer;
  position: absolute;
  bottom: -147%;
}

.slider div.slide-left:hover {
  margin-left: 10px;
  height: 45px;
  width: 45px;
  background: url("../img/slide-left-hover.png") no-repeat 0 0;
  display: inline-block;
  cursor: pointer;
  position: absolute;
  bottom: -147%;
}

.slider div.slide-right {
  height: 45px;
  width: 45px;
  background: url("../img/slide-left.png") no-repeat 0 0;
  position: absolute;
  left: 65px;
  bottom: -147%;
  transform: scale(-1, 1);
  cursor: pointer;
}

.slider div.slide-right:hover {
  height: 45px;
  width: 45px;
  background: url("../img/slide-left-hover.png") no-repeat 0 0;
  position: absolute;
  left: 65px;
  bottom: -147%;
  transform: scale(-1, 1);
  cursor: pointer;
}

.mySlides {
  display: none
}

div.slider-height {
  height: 535px;
}

/*COMPANY*/

div.container-fluid div.company-col {
  padding: 0;
}

div.company-content {
  background: url("../img/company-back.jpg") no-repeat 0 0;
  height: 775px;
  width: 100%;
  margin-top: -287px;
  margin-left: 40px;
}

div.company-right {
  margin-top: -267px;
  margin-left: 40px;
}

div.company-img {
  background-image: url(../img/company.jpg);
  background-size: 100% 100%;
  /* width: 100%; */
  height: 293px;
}

/*COMPANY CONTENT*/

div.company-content h1 {
  font-family: OpenSans-Light, Times, serif;
  font-size: 2.5em;
  color: #ffffff;
  padding-top: 14%;
  padding-left: 12%;
}

div.company-content p, a {

  color: #ffffff;
  font-size: 1em;
  padding-left: 12%;
  padding-right: 12%;
  padding-top: 5%;
}

i.fa {
  font-size: 0.8em;
}

div.company-content a.request, a.request:focus, a.request:hover, a.request:active {
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
}

div.company-content p.company-social {
  display: inline-block;
  padding-right: 5%;
}

a.facebook-icon {
  background: url(../img/facebook.png) no-repeat;
  height: 25px;
  width: 25px;
  display: inline-block;
  margin-bottom: -8px;
  padding-left: 1% !important;
  padding-right: 8% !important;
  cursor: pointer;

}

a.facebook-icon:hover {
  background: url(../img/facebook-hover.png) no-repeat;
  height: 25px;
  width: 25px;
  display: inline-block;
  margin-bottom: -8px;
  padding-left: 1% !important;
  padding-right: 8% !important;
  cursor: pointer;

}

a.twitter-icon {
  background: url(../img/twitter.png) no-repeat;
  height: 25px;
  width: 25px;
  display: inline-block;
  margin-bottom: -8px;
  padding-left: 1% !important;
  padding-right: 8% !important;
}

a.twitter-icon:hover {
  background: url(../img/twitter-hover.png) no-repeat;
  height: 25px;
  width: 25px;
  display: inline-block;
  margin-bottom: -8px;
  padding-left: 1% !important;
  padding-right: 8% !important;
}

a.twitter-icon:hover {
  background: url(../img/twitter-hover.png) no-repeat;
  height: 25px;
  width: 25px;
  display: inline-block;
  margin-bottom: -8px;
  padding-left: 1% !important;
  padding-right: 8% !important;
}

a.linkedin-icon {
  background: url(../img/linkedin.png) no-repeat;
  height: 25px;
  width: 25px;
  display: inline-block;
  margin-bottom: -8px;
  padding-left: 2% !important;
  padding-right: 2% !important;
  cursor: pointer;
}

a.linkedin-icon:hover {
  background: url(../img/linkedin-hover.png) no-repeat;
  height: 25px;
  width: 25px;
  display: inline-block;
  margin-bottom: -8px;
  padding-left: 2% !important;
  padding-right: 2% !important;
  cursor: pointer;
}

div.social-block {
  margin-top: 35px;
  margin-bottom: 20px;
}

div.request {
  margin-top: 35px;
}

/*COMPANY VALUES*/

div.company-values {
  margin-top: 10%;
  margin-left: 7%;
}

div.company-values h1 {
  font-family: OpenSans-Light, Times, serif;
  color: #3a4d69;
  font-size: 2em;
}

div.company-values ul {
  margin-top: 5%;
}

div.company-values ul li {
  font-family: 'Open Sans', Times, serif;
  color: #83969f;
  margin-bottom: 8px;
  list-style-position: inside;
}

/*ACHIEVEMENTS*/
div.container-fluid div.achievement {
  background: url(../img/bg.jpg) no-repeat 0 0;
  background-size: 100% 100%;
}

img.diploma {
  margin-top: 15%;
  margin-bottom: 15%;
  width: 90%;
}

div.container-fluid div.documents {
  margin-top: 12%;
  margin-right: 7%;
  margin-bottom: 14%;
}

div.doc-col {
  padding: 0;
}

div.documents h1 {
  font-family: OpenSans-Light, Times, serif;
  color: #3a4d69;
  font-size: 2em;
  margin-top: 5%;
}

h1.common-documents {
  margin-top: 0;
}

div.documents p {
  font-family: 'Open Sans', Times, serif;
  color: #83969f;
  font-size: 0.9em;
  padding-top: 3%;
  padding-bottom: 3%;
}

div.documents a {
  font-family: 'Open Sans', Times, serif;
  color: #5a3571;
  font-size: 1em;
  padding-left: 0;
  padding-top: 0;
}

/*VECTORS*/
div.vectors div.vectors-col {
  padding: 0;
}

div.vectors img.vectors-background {
  top: 0;
  width: 100%;
  right: 0;
}

div.vectors-content {
  background: url(../img/vectors-bckg.jpg) no-repeat 0 0;
  background-size: 100% 100%;
}

div.vector-item {
  display: inline-block;
  margin-top: 4%;
  margin-bottom: 4%;
  margin-right: 1.5%;
  width: 23%;
}

div.vector-item img {
  width: 92%;

}

div.vector-item h6, p, a {
  color: #ffffff;
}

div.vector-item h6 {
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 10px;
}

div.vector-item p {
  margin-top: 0;
  margin-bottom: 20px;
  width: 90%;
  font-size: 13px;
}

div.vector-item a {
  color: #ffffff;
  padding: 0;
  font-size: 0.95em;
}

/*SERVICE*/

div.service-col {
  padding: 0;
}

img.service-back {
  top: 0;
  width: 100%;
  right: 0;
}

div.service-img {
  background-image: url(../img/service-img.jpg);
  background-size: 100%;
  height: 330px;
}

div.service-margin {
  margin-top: -225px;
}

div.service-list {
  background: url(../img/service-bg.jpg) no-repeat;
  height: 610px;
  width: 100%;
  margin-top: -245px;
}

div.left-service {
  margin-left: 10px;
  height: 45px;
  width: 45px;
  background: url("../img/left-service.png") no-repeat 0 0;
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 285px;
  right: 47px;
}

div.left-service:hover {
  margin-left: 10px;
  height: 45px;
  width: 45px;
  background: url("../img/left-service-hover.png") no-repeat 0 0;
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 285px;
  right: 47px;
}

div.right-service {
  margin-left: 10px;
  height: 45px;
  width: 45px;
  background: url("../img/right-service.png") no-repeat 0 0;
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 285px;
  right: 0;
}

div.right-service:hover {
  margin-left: 10px;
  height: 45px;
  width: 45px;
  background: url("../img/Shape-2.png") no-repeat 0 0;
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 285px;
  right: 0;
}

div.service-list h1 {
  font-family: OpenSans-Light, Times, serif;
  font-size: 2.3em;
  color: #ffffff;
  padding-top: 14%;
  padding-left: 12%;
}

div.service-list ul {
  margin-top: 30px;
}

div.service-list li {
  margin-top: 18px;
  list-style-type: none;
}

div.service-list a {
  color: #ffffff;
  font-size: 1em;
  margin-left: 12%;
  margin-right: 12%;
  text-decoration: none;
  border-bottom: 1px dashed #ffffff;
  padding: 0 0 3px;
}

div.spec-service h1 {
  font-family: OpenSans-Light, Times, serif;
  color: #3a4d69;
  font-size: 1.7em;
  margin-top: 60px;
  margin-left: 10px;
}

div.spec-service p {
  font-family: 'Open Sans', Times, serif;
  color: #83969f;
  font-size: 0.9em;
  padding-top: 10px;
  margin-left: 10px;
  margin-right: 97px;
  margin-bottom: 35px;
}

div.spec-service a {
  font-family: 'Open Sans', Times, serif;
  color: #5a3571;
  font-size: 1em;
  padding-left: 10px;
  padding-top: 0;
}

/*Footer*/
.footer {
  background: url('../img/footer-img.jpg') no-repeat;
  width: 100%;
  height: 385px;
  margin: 0 0 -4px;
}

.footer-container {
  margin-top: 60px;
}

.footer-container img {
  margin-bottom: 15px;
}

p.footer-about {
  font-family: 'Open Sans', Times, serif;
  font-size: 1em;
  margin-bottom: 23px;
  color: #c7c1ca;
}

.footer div {
  padding: 0;
}

.more, .more:hover, .more:focus, .more:visited {
  color: #b88ad5;
  font-family: 'Open Sans', Times, serif;
  font-size: 1em;
  text-decoration: none;
  padding-left: 0;
}

/*Archives-footer*/
.archives {
  margin-left: 25%;
}

.archives a {
  display: block;
  font-family: 'Open Sans', Times, serif;
  color: #ffffff;
  cursor: pointer;
  margin-bottom: 5px;
  font-size: 1em;
  padding-left: 0;
}

.footer-container .dates {
  -webkit-column-count: 3; /* Chrome, Safari, Opera */ /* Firefox */
  column-count: 2;
  -webkit-column-gap: 15px; /* Chrome, Safari, Opera */ /* Firefox */
  column-gap: 15px;
}

.archives a:hover {
  color: #ffffff;
  -webkit-text-decoration-color: #795a9e;
  text-decoration-color: #795a9e;
}

.archives a:visited {
  color: #ffffff;
}

.footer-container h3 {
  font-family: OpenSans-Light, Times, serif;
  font-size: 1.3em;
  color: #9c6abb;
  margin-bottom: 25px;
}

/*New notes*/
.news {
  margin-left: 12%;
}

.new {
  margin-bottom: 25px;
}

.new-notes a {
  padding: 0;
  font-family: 'Open Sans', Times, serif;
  font-size: 0.9em;
  color: #ffffff;
  text-decoration: none;
}

.new-notes a:hover, .new-notes a:focus {
  -webkit-text-decoration-color: #795a9e;
  text-decoration-color: #795a9e;
  font-family: 'Open Sans', Times, serif;
  font-size: 0.9em;
  color: #ffffff;
}

.new-notes li {
  margin-bottom: 15px;
  font-family: 'Open Sans', Times, serif;
  color: #6c797f;
  font-size: 1.2em;
}

.new-notes ul {
  list-style-type: disc;
  font-size: 14px;
}

.new-notes {
  margin-left: 20px;

}

.footer-line {
  background-color: #1e1d20;
  width: 100%;
  height: 60px;
  border: 0;
  margin: 0;
  padding: 0;
}

.meta {
  margin-top: 25px;
  text-align: center;
  font-family: 'MyriadPro-Regular', Times, serif;
  font-size: 0.9em;
  color: #9f99a3;
}

span.arrow {
  display: none;
}

@media only screen and (max-width: 1199px) {
  /*COMPANY*/
  div.social-block {
    margin-top: 20px;
  }

  div.company-content h1 {
    font-size: 2em;
  }

  /*ACHIEVEMENT*/
  img.diploma {
    width: 100%;
    margin-top: 20%;
  }

  div.documents h1 {
    font-size: 1.8em;
  }

  /*SERVICE*/
  div.service-img {
    background-size: 132%;
  }

  div.spec-service h1 {
    margin-top: 40px;
  }

  div.service-list h1 {
    font-size: 2em;
  }

  /*HEADER*/
  div.height-col {
    height: 270px;
  }

  /*NAVIGATION */
  nav.navbar .navbar-nav > li > a {
    padding-left: 5px;
    padding-right: 5px;
  }

  /*VECTORS*/
  div.vector-item h6 {
    font-size: 0.9em;
  }

  div.vector-item p {
    width: 99%;
    font-size: 0.82em;
  }

}

@media only screen and (max-width: 992px) {
  /*NAVIGATION*/
  div.height-col {
    height: 10px;
  }

  nav.navbar .navbar-nav > li > a {
    font-size: 0.8em;
  }

  div.logo-container img {
    margin-left: 10%;
  }

  div.navigation nav.navbar {
    margin-top: 15px;
  }

  nav.navbar .navbar-nav > li > a {
    font-size: 0.9em;
  }

  /*SLIDER*/
  div.slider-height {
    height: 80px;
  }

  div.slider {
    margin-left: 40px;
  }

  div.slider div.mySlides h4.mySlide-content {
    margin-bottom: 14px;
  }

  .slider div.slide-left {
    bottom: -118%;
    z-index: 100;
  }

  .slider div.slide-left:hover {
    z-index: 100;
    bottom: -118%;
    background: url("../img/slide-left-hover.png") no-repeat 0 0;
  }

  .slider div.slide-right {
    left: 103px;
    bottom: -118%;
    z-index: 100;
  }

  div.slide-right:hover, div.slide-right:active {
    background: url("../img/slide-left-hover.png") no-repeat 0 0;
    z-index: 100;
    left: 103px !important;
    bottom: -118% !important;

  }

  img.more-arrow {
    z-index: 100;
  }

  /*COMPANY*/
  div.company-content {
    margin-top: 95px;
    margin-left: 155px;
  }

  div.company-right {
    margin-top: 95px;
    margin-left: 155px;
  }

  div.company-content h1 {
    font-family: OpenSans-Light, Times, serif;
    font-size: 1.8em;
    color: #ffffff;
    padding-top: 8%;
    padding-left: 12%;
  }

  div.company-content p, a {
    color: #ffffff;
    font-size: 0.9em;
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 3%;
  }

  div.company-content {
    height: 600px;
  }

  div.company-right {
    height: 600px;
  }

  div.company-img {
    height: 242px;
    background-size: 110% 100%;
  }

  div.company-values h1 {
    font-size: 1.7em;
  }

  div.company-values ul {
    margin-top: 10%;
  }

  a.facebook-icon {
    position: relative;
    z-index: 1000;
  }

  a.facebook-icon:hover {
    position: relative;
    z-index: 1000;
    background-image: url(../img/facebook-hover.png);
  }

  a.twitter-icon, a.twitter-icon:hover {
    position: relative;
    z-index: 100;
  }

  a.linkedin-icon {
    position: relative;
    z-index: 100;
  }

  /*ACHIEVEMENT*/
  div.documents {
    margin-left: 5%;
  }

  div.documents h1 {
    font-size: 1.6em;
  }

  div.documents a {
    z-index: 100;
    position: relative;
  }

  /*VECTORS*/
  div.img-margin {
    margin-left: 3%;
  }

  div.vector-item {
    display: inline-block;
    margin-top: 2%;
    margin-bottom: 4%;
    margin-right: 1%;
    width: 23%;
  }

  div.vector-item h6 {
    font-size: 0.9em;
  }

  div.vector-item p {
    font-size: 0.82em;
  }

  /*SERVICE*/
  div.service-margin {
    margin-top: -100px;
  }

  div.service-img {
    height: 296px;
  }

  div.left-service {
    top: 253px;
  }

  div.left-service:hover, div.left-service:active {
    top: 253px;
  }

  div.right-service {
    top: 253px;
  }

  div.right-service:hover, div.right-service:active {
    top: 253px;
  }

  div.spec-service h1 {
    margin-top: 30px;
  }

  div.spec-service h1 {
    font-size: 1.5em;
  }

  div.spec-service p {
    margin-bottom: 20px;
  }

  div.service-list {
    margin-top: -120px;
  }

  div.service-list h1 {
    font-size: 1.7em;
    padding-left: 7%;
  }

  div.service-list a {
    color: #ffffff;
    font-size: 0.9em;
    margin-left: 7%;
    margin-right: 5%;
    text-decoration: none;
    border-bottom: 1px dashed #ffffff;
    padding: 0 0 3px;
  }

  /*FOOTER*/
  .footer {
    height: 420px !important;
  }

  .footer-container {
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 18px;
  }

  .footer-container .dates {
    -webkit-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 15px;
    column-gap: 15px;
  }

  .footer-container h3 {
    margin-bottom: 10px;
  }

  .foot-dates {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
  }

  .archives {
    margin-top: 10px;
  }

  .new-notes {
    margin-left: 5%;
  }

  .new-notes li {
    margin-bottom: 5px;
  }

  .logo-container {
    margin-left: 5%;
  }

  p.center-image {
    text-align: center;
  }

  div.container-height {
    height: 417px;
  }
}

@media only screen and (max-width: 767px) {
  /*HEADER*/
  nav.navbar .navbar-nav > li > a {
    text-align: center;
    font-size: 1em !important;
    padding: 5px;
  }

  nav.navbar-inverse div.in ul.navbar-nav {
    margin: 0;
    border: 1px solid #ffffff;
  }

  nav.navbar-inverse div.in ul.navbar-nav li {
    border-bottom: 1px solid #533a64;
    z-index: 100;
  }

  div.in a.language-link {
    margin-top: 0;
  }

  .navbar-collapse {
    overflow-x: hidden !important;
  }

  .in .navbar-nav .open .dropdown-menu > li > a {
    text-align: center;
    padding: 0 !important;
  }

  nav.navbar-inverse div.in ul.navbar-nav li:hover, nav.navbar-inverse div.in ul.navbar-nav li:focus {
    background-color: rgba(85, 59, 104, 0.3);
  }

  nav.navbar-inverse div.in {
    position: absolute;
    left: 37%;
    background: rgba(255, 255, 255, 0.89);
    border: 2px solid #533a64;
  }

  nav.navbar-inverse div.in ul.navbar-nav li a {
    color: black;
  }

  div.collapse ul.nav {
    width: 100%;
  }

  img.header-background {
    width: 150% !important;
  }

  /*SLIDER*/
  div.slider div.mySlides h1.mySlide-content {
    font-size: 2em;
  }

  div.slider div.mySlides h4.mySlide-content {
    font-size: 1.2em;
  }

  div.slider div.mySlides p.mySlide-content {
    font-size: 1em;
  }

  .slider div.slide-left {
    bottom: -137%;
    z-index: 100;
  }

  .slider div.slide-left:hover {
    z-index: 100;
    bottom: -137%;
    background: url("../img/slide-left-hover.png") no-repeat 0 0;
  }

  .slider div.slide-right {
    left: 103px;
    bottom: -137%;
    z-index: 100;
  }

  div.slide-right:hover, div.slide-right:active {
    background: url("../img/slide-left-hover.png") no-repeat 0 0;
    z-index: 100;
    left: 103px !important;
    bottom: -137% !important;

  }

  /*COMPANY*/
  div.company-content, div.company-right {
    margin-top: 150px !important;
  }

  div.company-content, div.company-right {
    margin: 0;
  }

  div.company-img {
    height: 300px;
    background-size: 150% 100%;
  }

  /*ACHIEVEMENT*/
  img.diploma {
    width: 60%;
    margin-top: 0;
    margin-bottom: 40px;
    margin-left: 20%;
  }

  div.stash {
    height: 0;
  }

  /*VECTORS*/
  div.vectors img.vectors-background {
    top: 0;
    width: 130%;
    right: 0;
  }

  div.img-margin {
    margin-left: 1%;
  }

  div.vector-item {
    display: inline-block;
    margin-top: 2%;
    margin-bottom: 4%;
    margin-right: 3%;
    width: 45%;
  }

  div.vector-item h6 {
    font-size: 1.1em;
  }

  div.vector-item p {
    font-size: 1em;
  }

  div.vector-item a {
    color: #ffffff;
    padding: 0;
    font-size: 1.1em;
  }

  /*SERVICE*/
  div.service-img {
    height: 210px;
    background-size: 130%;
  }

  div.service-list a {
    margin-left: 1%;
    margin-right: 0;
    font-size: 0.85em;
  }

  div.spec-service p, div.spec-service h1, div.spec-service a {
    margin-left: 20px;
  }

  div.spec-service p {
    font-size: 1em;
  }

  div.left-service, div.left-service:hover, div.left-service:active {
    top: 165px;
  }

  div.right-service, div.right-service:hover, div.right-service:active {
    top: 165px;
  }

  .footer {
    height: 350px;
  }

  .adress-container, .adress-icon {
    display: none;
  }

  .phone-container {
    margin-right: 5%;
  }

  .phone-container p {
    font-size: 1.25em;
  }

  .logo-container {
    margin-left: 5%;
  }

  .archives {
    display: none;
  }

  .footer-container {
    margin-top: 20px;
  }

  p.footer-about {
    text-align: center;
    margin: 0 2% 10px;
    font-size: 1em;
  }

  .footer-container img {
    margin-left: 42%;
  }

  .more, .more:hover, .more:focus, .more:visited {
    margin-left: 42%;
    font-size: 1.3em;
  }

  .news ul {
    margin-left: 5%;
  }

  .news h3 {
    text-align: center;
  }

  .new-notes li {
    margin-bottom: 0;
  }

  .footer-container h3 {
    font-family: OpenSans-Light, Times, serif;
    font-size: 1.2em;
    color: #b88ad5;
    margin-bottom: 10px;
  }

  .footer-line {
    height: 40px;
  }

  p.meta {
    margin: 12px 0;
    font-size: 0.8em;
  }

  dt {
    margin-left: 5%;
  }

  .archive h3 {
    text-align: center;
  }

  .archive {
    margin-left: 3%;
  }

  .dates {
    margin-top: 15px;
    margin-bottom: 30px;
  }

  .dates a {
    text-align: center;
    font-size: 1.3em;
  }

  .dates i {
    margin-right: 1%;
  }

  .line {
    margin-top: 36px;
    margin-left: 36%;
    width: 17%;
  }

  .highlight h3 {
    font-size: 1.8em;
  }

  .content-item h2 {
    text-align: center;
  }

  .content-item p {
    margin-left: 3%;
    margin-right: 3%;
  }

  .responsive .menu-wrapper {
    margin-top: 45px !important;
  }

}

@media only screen and (max-width: 488px) {
  /*HEADER*/
  nav.navbar-inverse div.in {
    position: absolute;
    left: 25%;
    background: rgba(255, 255, 255, 0.89);
    border: 2px solid #533a64;
  }

  /*FOOTER*/
  .new-notes a:hover, .new-notes a:focus {
    -webkit-text-decoration-color: #795a9e;
    text-decoration-color: #795a9e;
    font-family: 'Open Sans', Times, serif;
    font-size: 0.9em;
    color: #ffffff;
  }

  .news {
    margin-left: 4%;
  }

  .footer {
    height: 385px;
  }

  .more, .more:hover, .more:focus, .more:visited {
    margin-left: 35%;
    font-size: 1.3em;
  }

  .footer-container img {
    margin-left: 38%;
  }

  div.logo-container, div.navigation nav.navbar {
    margin-top: 10px;
  }

  div.logo-container img {
    width: 100%;
  }

  /*SLIDER*/
  .slider div.slide-left {
    bottom: -88%;
    z-index: 100;
  }

  .slider div.slide-left:hover {
    z-index: 100;
    bottom: -88%;
    background: url("../img/slide-left-hover.png") no-repeat 0 0;
  }

  .slider div.slide-right {
    left: 100px;
    bottom: -88%;
    z-index: 100;
  }

  div.slide-right:hover, div.slide-right:active {
    background: url("../img/slide-left-hover.png") no-repeat 0 0;
    z-index: 100;
    left: 100px !important;
    bottom: -88% !important;
  }

  div.slider div.mySlides h1.mySlide-content {
    font-size: 1.5em;
  }

  div.slider div.mySlides h4.mySlide-content {
    font-size: 1em;
  }

  div.slider div.mySlides p.mySlide-content {
    font-size: 0.9em;
  }

  img.more-arrow {
    position: absolute;
    left: 18%;
    width: 5%;
    cursor: pointer;
  }

  img.scroll {
    width: 3%;
    position: absolute;
  }

  div.row img.header-background {
    width: 192% !important;
  }

  /*COMPANY*/
  div.company-content, div.company-right {
    margin-top: 82px !important;
  }

  div.company-content p, a {
    color: #ffffff;
    font-size: 0.9em;
    padding-left: 3%;
    padding-right: 5%;
    padding-top: 3%;
  }

  div.company-content {
    height: 780px;
  }

  div.company-content p.company-social {
    display: inline-block;
    padding-right: 25%;
  }

  a.facebook-icon {
    margin-left: 20%;
  }

  div.company-img {
    height: 228px;
    background-size: 225% 100%;
  }

  div.company-values h1 {
    font-size: 1.1em;
  }

  div.company-height {
    height: 859px;
  }

  /*VECTORS*/
  div.vector-item p {
    font-size: 0.8em;
  }

  /*SERVICE*/
  div.service-img {
    height: 160px;
    background-size: 130%;
  }

  div.service-list a {
    margin-left: 1%;
    margin-right: 0;
    font-size: 0.75em;
  }

  div.service-list h1 {
    font-size: 1.4em;
    padding-left: 7%;
  }

  div.left-service, div.left-service:hover, div.left-service:active {
    top: 115px;
  }

  div.right-service, div.right-service:hover, div.right-service:active {
    top: 115px;
  }

  div.spec-service p {
    margin-right: 0;
  }

}

@media only screen and (max-width: 320px) {
  /*HEADER*/
  nav.navbar-inverse div.in {
    width: 100%;
    left: 0;
  }

  nav.navbar-inverse div.in {
    background: rgb(255, 255, 255);
  }

  /*SLIDER*/
  div.slider {
    margin-left: 14px;
  }

  div.slider div.mySlides p.mySlide-content {
    font-size: 0.75em;
  }

  .slider div.slide-left {
    bottom: -88%;
    z-index: 100;
  }

  .slider div.slide-left:hover {
    z-index: 100;
    bottom: -88%;
    background: url("../img/slide-left-hover.png") no-repeat 0 0;
  }

  .slider div.slide-right {
    left: 75px;
    bottom: -88%;
    z-index: 100;
  }

  div.slide-right:hover, div.slide-right:active {
    background: url("../img/slide-left-hover.png") no-repeat 0 0;
    z-index: 100;
    left: 75px !important;
    bottom: -88% !important;
  }

  /*COMPANY*/
  /*VALUES*/
  img.diploma {
    width: 85%;
    margin-top: 0;
    margin-bottom: 40px;
    margin-left: 10%;
  }

  /*VECTORS*/
  div.vectors img.vectors-background {
    top: 0;
    width: 170%;
    right: 0;
  }

  div.vector-item h6 {
    font-size: 0.7em;
  }

  /*SERVICE*/
  div.service-img {
    height: 140px;
    background-size: 130%;
  }

  div.left-service, div.left-service:hover, div.left-service:active {
    top: 95px;
  }

  div.right-service, div.right-service:hover, div.right-service:active {
    top: 95px;
  }

  /*FOOTER*/
  .more, .more:hover, .more:focus, .more:visited, .footer-container img {
    margin-left: 30%;
    font-size: 1em;
  }

  p.about-2 {
    display: none;
  }

  .news {
    display: none;
  }

  .footer {
    height: 200px !important;
  }

  .footer-line {
    height: 26px;
  }

  p.meta {
    font-size: 0.6em;
    margin: 8px 0;
  }

  p.about-us {
    font-size: 1.5em;
  }

  .phone-container {
    margin-right: 1%;
  }

  p.path {
    font-size: 0.9em;
  }

  div.container-height {
    height: 200px;
  }

}
